.swal-modal {
    width: 478px;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 17px;
    position: fixed;
    top: 45%;
    left: 50%;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: 0 0;
    z-index: 10001;
    transition: transform .3s,opacity .2s;

    &.show {
        opacity: 1;
        pointer-events: auto;
        box-sizing: border-box;
        animation: showSweetAlert .3s;
        will-change: transform;
    }

    &.hide {
        animation: hideSweetAlert .2s;
    }
}

.swal-icon {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    margin: 20px auto;

    &:first-child {
        margin-top: 32px;
    }

    &.swal-icon--warning {
        border-color: #f8bb86;
        animation: pulseWarning .75s infinite alternate;
    }

    &.swal-icon--info {
        border-color: #c9dae1;

        &:before {
            content: "";
            position: absolute;
            width: 5px;
            height: 29px;
            left: 50%;
            bottom: 17px;
            border-radius: 2px;
            margin-left: -2px;
            background-color: #c9dae1;
          }

        &:after {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin-left: -3px;
            top: 19px;
            background-color: #c9dae1;
            left: 50%;
        }
    }
    
    &.swal-icon--error {
        border-color: #f27474;
        animation: animateErrorIcon .5s .15s;

        .swal-icon__x-mark {
            animation: animateXMark .5s .15s;
        }

        .swal-icon--error__line {
            position: absolute;
            height: 5px;
            width: 47px;
            background-color: #f27474;
            display: block;
            top: 37px;
            border-radius: 2px;
        }

        .swal-icon--error__line--left {
            transform: rotate(45deg);
            left: 17px;
        }

        .swal-icon--error__line--right {
            transform: rotate(-45deg);
            right: 16px;
        }
    }

    &.swal-icon--success {
        border-color: #a5dc86;
        &:before, &:after {
            content: "";
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 120px;
            background: #fff;
            transform: rotate(45deg);
        }

        &:before {
            border-radius: 120px 0 0 120px;
            top: -7px;
            left: -33px;
            transform: rotate(-45deg);
            transform-origin: 60px 60px;
        }

        &:after {
            border-radius: 0 120px 120px 0;
            top: -11px;
            left: 30px;
            transform: rotate(-45deg);
            transform-origin: 0 60px;
            animation: rotatePlaceholder 4.25s ease-in;
        }

        .swal-icon--success__line {
            height: 5px;
            background-color: #a5dc86;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 2;
            &.swal-icon--success__line--long {
                width: 47px;
                right: 8px;
                top: 38px;
                transform: rotate(-45deg);
                animation: animateSuccessLong .75s;
            }
            &.swal-icon--success__line--tip {
                width: 25px;
                left: 14px;
                top: 46px;
                transform: rotate(45deg);
                animation: animateSuccessTip .75s;
            }
        }
        
        .swal-icon--success__ring {
            width: 80px;
            height: 80px;
            border: 4px solid hsla(98,55%,69%,.2);
            border-radius: 50%;
            box-sizing: content-box;
            position: absolute;
            left: -4px;
            top: -4px;
            z-index: 2;
        }

        .swal-icon--success__hide-corners {
            width: 5px;
            height: 90px;
            background-color: #fff;
            padding: 1px;
            position: absolute;
            left: 28px;
            top: 8px;
            z-index: 1;
            transform: rotate(-45deg);
        }
    }

    .swal-icon--warning__body {
        width: 5px;
        height: 47px;
        top: 10px;
        border-radius: 2px;
        margin-left: -2px;
    }

    .swal-icon--warning__body, .swal-icon--warning__dot {
        position: absolute;
        left: 50%;
        background-color: #f8bb86;
    }

    .swal-icon--warning__dot {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -4px;
        bottom: -11px;
    }
}

.swal-title {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}

.swal-text {
    font-size: 16px;
    position: relative;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #797979;
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;

    &:first-child {
        margin-top: 45px;
    }

}

.swal-footer {
    text-align: center;
    margin-top: 13px;
    padding: 13px 16px 0;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.swal-button {
    background-color: #7cd1f9;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 32px;
    margin: 0;
    transition: all ease-in 0.3s;
    cursor: pointer;
    &:focus {
        outline: none;
    }

    &:disabled {
        opacity: .6;
    }

    &.swal-button--confirm {
        background-color: #4680ff;
        &:disabled {
            color: transparent;
        }
    }

    &.swal-button--cancel {
        background-color: #c1c1c1;
        &:hover {
            background-color: #b9b9b9;
        }
    }

    &.swal-button--danger {
        background-color: #e64942;
        &:disabled {
            color: transparent;
        }
    }
}

.swal-button__loader {
    width: 54px;
    height: 18px;
    display: block;
    font-size: 0;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: -9px;
    opacity: 0;
    visibility: hidden;

    &.loading {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }

    & > div {
        display: inline-block;
        background-color: currentColor;
        border: 0 solid currentColor;
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 100%;
        opacity: 1;
        animation: ball-fall 1s ease-in-out infinite;

        &:nth-child(1) {
            animation-delay: -200ms;
        }

        &:nth-child(2) {
            animation-delay: -100ms;
        }

        &:nth-child(3) {
            animation-delay: 0ms;
        }
    }
}

.swal-button-container {
    margin: 5px;
    display: inline-block;
    position: relative;
}

@keyframes showSweetAlert {
    0% {
        transform: scale(.7) translate(-50%, -50%);
    }

    45% {
        transform: scale(1.05) translate(-50%, -50%);
    }

    80% {
        transform: scale(.95) translate(-50%, -50%);
    }

    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes hideSweetAlert {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    100% {
        transform: scale(.5) translate(-50%, -50%);
    }
}

@keyframes pulseWarning {
    0% {
        border-color: #f8d486
    }

    100% {
        border-color: #f8bb86
    }
}

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px
    }

    84% {
        width: 55px;
        right: 0;
        top: 35px
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px
    }
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px
    }
}

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        opacity: 0
    }

    100% {
        transform: rotateX(0deg);
        opacity: 1
    }
}

@keyframes animateXMark {
    0% {
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0
    }

    50% {
        transform: scale(.4);
        margin-top: 26px;
        opacity: 0
    }

    80% {
        transform: scale(1.15);
        margin-top: -6px
    }

    100% {
        transform: scale(1);
        margin-top: 0;
        opacity: 1
    }
}

@keyframes ball-fall {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-145%);
        -moz-transform: translateY(-145%);
        -o-transform: translateY(-145%);
        transform: translateY(-145%)
    }

    10% {
        opacity: .5
    }

    20% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    80% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    90% {
        opacity: .5
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(145%);
        -moz-transform: translateY(145%);
        -o-transform: translateY(145%);
        transform: translateY(145%)
    }
}