body {
    font-family: open sans,sans-serif;
    font-size: 0.875em;
    color: #353c4e;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: #fc6180;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}